
body{
  color: white; 
  background-color: black; 
  background-image: url('/Users/mohammed/Desktop/SWE-363-231/Assets/ .jpg');
background-size: auto; 
background-attachment: fixed; 
background-repeat: no-repeat; 
background-size: cover;
}
#navbar {
  overflow: hidden;
  background-color: #0466c8; 
  position:absolute; 
  width: 100%; 
  top: 0;
  left: 0;
}
#navbar a, button{
background-color: transparent;
float: left;
display: block;
color: white;
text-align: center;
padding: 15px;
text-decoration: none;
}

#navbar a:hover, button:hover{
background-color: #ddd;
color: black;
}
.bright-mode{
  background-image: none;
  background-color: white;
  color: black;
}
.center{
  display: block;
  margin: auto;
    
}
li{
text-align: center;
font-size: 35px;
margin: auto;
font-family: 'Courier New', Courier, monospace;
}
p{
font-size: 35px;
font-family: 'Courier New', Courier, monospace;
}
h1{
font-size: 50px;
text-align: center;
font-family: 'Courier New', Courier, monospace;
text-transform: uppercase;
}
h2{
font-size: 40px;
font-family: sans-serif;
}
tr{
font-size: 35px;
font-family: 'Courier New', Courier, monospace;
text-align: center;
}
article{
  text-indent: 10px;
}

footer  table{
  width: 100%;
}
footer  table, td{
  margin-left: auto;
  margin-right: auto;
  font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
  text-align: center;
  border: none;
}
.books1{
  width: 500;
  height: 600; 
}
.centered:hover{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.container {
  position: relative;
  text-align: center;
  color: white;
  display: block;
  margin: auto;   
}
.borders{
  border: 1px solid white;
}
th{
  text-transform: uppercase;
}
a{
  color: green;
}
.top{
  background-color: red;
  border: 1px solid white;
}
#the_most_important{
  background-color: gold;
  text-transform: uppercase;
}
th:hover{
  background-color: aqua;
}
td:hover{
  background-color: aqua;
}
#page_list{
  display: inline-block; 
  text-align: left; 
  display: inline;
}

::selection {
  color: blue;
  background: red;
}
.center li:nth-child(2) a{
  text-decoration: none;
}
footer{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  background-color: black;
  margin-bottom: -60px;
}
footer p{
  font-size: large;
}
section{
  margin-top: 5em;
}
nav{
  margin-bottom: 60px;
}












